%h1
  About us!
%p
  We are a community of people who care about doing more with less.  We like to live but have to get work done.  Together, we developed nimblist as a tool to help us live more *and* do more!