- model_class = Task

.span3
  .panel.panel-default
    .panel-heading
      %h3.panel-title
        My Tags
    .panel-body
      -@tags.each do |tag|
        =tag.name
        %hr

.span9
  .panel.panel-info
    .panel-heading
      %h3.panel-title
        My Tasks
    .panel-body
      %ul.list-group
        -@tasks.each do |task|
          %li.list-group-item
            =task.item