// Place all the styles related to the tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.item_row
{
  padding-left: 10px;
  padding-top:5px;
  padding-bottom:5px;

  border-bottom:1px solid #00000;
}
.item-selected
{
  background-color:#5BC0DE;
}
.my-tasks
{
}
.my-tags
{
}
span.task-item
{
  cursor:pointer;
}
.item-details
{
  position:relative;
  border-left:solid 1px #A0A0A0;
}

.badge a
{
  color:#ffffff;
}
.badge a:visited
{
  color:#ffffff;
}
.badge a:hover
{
  color:#e0e0e0;
  text-decoration:none;
}
.item-details-row
{
  margin-top:10px;
  margin-bottom:10px;
  margin-left:10px;
  margin-right:10px;
  min-height:1.5em;
}
.item-tag-block
{
  width:40%;
  float:none;
  overflow:auto;
}
.new-tag
{
  width:6em;
}

.action-area
{
  background-color:#e0e0e0;
  padding:10px;
}
.item-details-row .input
{
  width:100%;
}
.task-item-submit
{
  background:url(save.png);
}
img.item-icon-btn
{
  margin-left:20px;
  height:22px;
  width:22px;
}

.finished-task
{
  text-decoration: line-through;
  font-style:italic;
}


.tag_badge_item
{
  margin-left:3px;
}
.tag_delete
{
  font-size:.8em;
  cursor:pointer;
  float:left;
  top:0px;
  color:#e0e0e0;
  margin-right:3px;
}
.loading_editTask_image
{
  margin-left: 45%;
  margin-top:30%;
}

.loadingPanel
{
  position:absolute;
  top:0px;
  left:0px;
  height:100%;
  width:100%;
  background-image: image-url("transparentModal.png");
  background-repeat: repeat;
}