// Place all the styles related to the tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.item_row
{
  padding-left: 10px;
  padding-top:5px;
  padding-bottom:5px;

  border-bottom:1px solid #00000;
}
.item-selected
{
  background-color:#5BC0DE;
}
.my-tasks
{
}
.my-tags
{
}
span.task-item
{
  cursor:pointer;
}
.item-details
{
  border-left:solid 1px #A0A0A0;
}